# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
compile_commands.json

# directory configuration
.dir-locals.el

# objects
*.o

# binaries
bin/*

# root files
*.root*

# stuf
*.itx
*.nfs*
*.cache/
*.png
*.pdf

*.txt

/test/
__pycache__/compare_grid_outputs.cpython-313.pyc
run_analysis_cxx.d
run_analysis_cxx_ACLiC_dict68bdb0884e_dictUmbrella.h
run_analysis_cxx_ACLiC_dict6c99508274_dictContent.h

.~lock.time.csv#
.~lock.xref-numu-disp.png#
*.~lock*
*.csv
time
time.csv
